<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒拍品牌管理</title>
	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	
	<div class="wrapper">
		<h1>秒拍品牌管理</h1>
		
		<div class="con-cards clearfix">
			<h2>品牌标识</h2>
			
			<!-- 修改 -->
			<% 
				if(typeof data.menu_list_mod_data != 'undefined'){ 
					var menu_list_mod_data = data.menu_list_mod_data;
			%>
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="menu_list">
				<input type="hidden" name="mod_id" value="<%=menu_list_mod_data.id%>">
				<div class="card-wrapper clearfix template menu-mod-template">
					<div class="card">
						
						<div class="line-box">
							
							
							<% if(!!menu_list_mod_data.logo){ %>
								<a class="reupload" href="javascript:;"><input type="file" name="logo" onchange='mod_logo.innerHTML=this.value'>重传</a>
								<b id='mod_logo'><%=menu_list_mod_data.logo %></b>
							<%}else{%>
								<a class="upload" href="javascript:;"><input type="file" name="logo" onchange='mod_logo.innerHTML=this.value'>上传</a>
								<b id='mod_logo'>支持jpg/png格式，RGB模式，长200px，宽200px，大小<1M。</b>
							<%}%>
						</div>
						
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopai'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
			<%}%>
			<!-- 显示 -->
			<% 
				var menudata = data.menu_data 
				if(menudata.length > 0){
					for(var i=0,len=menudata.length;i<len;i++){
						
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="line-box">
						
						<!-- <a class="upload" href="javascript:;">上传</a> -->
						<b>支持jpg/png格式，RGB模式，长200px，宽200px，大小<1M。</b>
						
					</div>
					
					<div class="preview">
						<img src="<%=menudata[i].logo %>" alt="">
					</div>
				</div>
				<div class="tools">
					<a class="mod" href="?page=menu_list&act=mod&id=<%=menudata[i].id %>"></a>
					<!-- <a class="del" href="?page=menu_list&act=del&id=5"></a> -->
				</div>
			</div>	
					
			<%}}%>
			
			
		</div>
		
		<div class="con-cards">
			<h2>视觉识别系统手册</h2>
			<!-- 修改 -->
			<% 
				if(typeof data.menu_manual_mod_data != 'undefined'){ 
					var menu_manual_mod_data = data.menu_manual_mod_data;
			%>
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="menu_manual">
				<input type="hidden" name="mod_id" value="<%=menu_manual_mod_data.id%>">
				<div class="card-wrapper clearfix template menu-mod-template">
					<div class="card">
						
						<div class="line-box">
							
							
							<% if(!!menu_manual_mod_data.manual){ %>
								<a class="reupload" href="javascript:;"><input type="file" name="logo" onchange='mod_manual.innerHTML=this.value'>重传</a>
								<b id='mod_manual'><%=menu_manual_mod_data.manual %></b>
							<%}else{%>
								<a class="upload" href="javascript:;"><input type="file" name="logo" onchange='mod_manual.innerHTML=this.value'>上传</a>
								<b id='mod_manual'>支持pdf格式，RGB模式，大小<20M</b>
							<%}%>
							
						</div>
						
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopai'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
			<%}%>
			
			<!-- 显示 -->
			<% 
				var menudata = data.menu_data 
				if(menudata.length > 0){
					for(var i=0,len=menudata.length;i<len;i++){
						
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="line-box">
						<label class="txt">标题:</label>
						<b class="txt">视觉识别系统手册 VIS</b>
					</div>
					<div class="line-box">
						<label class="txt">描述:</label>
						<b class="txt">品牌标识是一下科技企业形象对外输出的核心元素，是体现品牌价值、彰显企业文化要素的重要组成部分，在任何情况下均不得随意更改 VIS</b>
					</div>
					<div class="gap"></div>
					<div class="line-box">
						<!-- <a class="reupload" href="javascript:;">重传</a> -->
						<label class="txt"></label>
						<b>支持pdf格式，RGB模式，大小<20M</b>
						
					</div>
					
					<div class="preview">
						<img src="" alt="">
					</div>
				</div>
				<div class="tools">
					<a class="mod" href="?page=menu_manual&act=mod&id=<%=menudata[i].id%>"></a>
				</div>
			</div>	
			
			
			<%}}%> 
		</div>
		
		
		<div class="con-cards brand-con">
			<h2>品牌组合标识<span class='add-card'><img src="static/img/add-icon.png" alt=""></span></h2>
			
			<!-- 添加 -->
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="brand_list">
				<div class="card-wrapper clearfix template brand-add-template none">
					<div class="card">
						<div class="line-box">
							<label>预览图</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic1" onchange='brand_add_pic1.innerHTML=this.value'>上传</a>
							<b id='brand_add_pic1'>png格式，宽<300px，高<50px，RGB模式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic2" onchange='brand_add_pic2.innerHTML=this.value'>上传</a>
							<b id="brand_add_pic2">支持文件夹上传，内含png格式标识，400x400px，RGB模式，包括常规、文字反白、整体反白、整体反黑4种样式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic3" onchange='brand_add_pic3.innerHTML=this.value'>上传</a>
							<b id="brand_add_pic3">支持文件夹上传，eps格式下CMYK模式，psd格式下RGB模式，包括常规、文字反白、整体反白、整体反黑4种样式</b>
						</div>
					
					</div>
					
					<div class="btns">
						<span class="cancel">取消</span>
						<input type="submit" class="sure" value="添加">
					</div>
				</div>
			</form>
				
			<!-- 修改 -->
			<% 
				if(typeof data.brand_list_mod_data != 'undefined'){ 
					var brand_list_mod_data = data.brand_list_mod_data;
			%>
			
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="brand_list">
				<input type="hidden" name="mod_id" value="<%=brand_list_mod_data.id%>">
				<div class="card-wrapper clearfix template brand-mod-template">
					<div class="card">
						<div class="line-box">
							<label>预览图</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic1' onchange='brand_mod_pic1.innerHTML=this.value'>重传</a>
							<b id='brand_mod_pic1' ><%=brand_list_mod_data.pic1 %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic2' onchange='brand_mod_pic2.innerHTML=this.value'>重传</a>
							<b id="brand_mod_pic2"><%=brand_list_mod_data.pic2 %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic3' onchange='brand_mod_pic3.innerHTML=this.value'>重传</a>
							<b id="brand_mod_pic3"><%=brand_list_mod_data.pic3 %></b>
						</div>
					
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopai'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
				
			<% } %>
			
			
			<!-- 显示 -->
			<% 
				var branddata = data.brand_data;
				if(branddata.length > 0){ 
				    for(var i = 0,len=branddata.length; i<len; i++){
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="con">
						<div class="line-box">
							<label>预览图</label>
							<!-- <a class="reupload" href="javascript:;">重传</a> -->
							<b>png格式，宽度<300px，高度<50px，RGB模式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持文件夹上传，png格式，400x400px，RGB模式，包括常规、文字反白、整体反白、整体反黑4种样式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持文件夹上传，eps格式下CMYK模式，psd格式下RGB模式，包括常规、文字反白、整体反白、整体反黑4种样式</b>
						</div>
					</div>
					<div class="preview">
						<img src="<%=branddata[i].pic1 %>" alt="">
					</div>
				
				</div>
				
				<div class="tools">
					<a class="mod" href="?page=brand_list&act=mod&id=<%=branddata[i].id%>"></a>
					<a class="del" href="?page=brand_list&act=del&id=<%=branddata[i].id%>"></a>
				</div>
			</div>
			<% }} %>
		</div>
		
		<div class="con-cards">
			
			<h2>二维码<span class='add-card'><img src="static/img/add-icon.png" alt=""></span></h2>
			
			<!-- 添加 -->
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="content_ewm_list">
				<div class="card-wrapper clearfix template content-add-template none">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title"></b>
						</div>
						<div class="line-box">
							<label>描述</label>
							<b><input type="text" name="descr"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>预览图</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic1" onchange='ewm_add_pic1.innerHTML=this.value'>上传</a>
							<b id='ewm_add_pic1'>png格式，宽180px，高180px，RGB模式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<a class="upload" href="javascript:;"><input type="file" name='pic2' onchange='ewm_add_pic2.innerHTML=this.value'>上传</a>
							<b id="ewm_add_pic2">支持png格式，宽1000px，高度1000px</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic3" onchange='ewm_add_pic3.innerHTML=this.value'>上传</a>
							<b id="ewm_add_pic3">支持eps格式，RGB模式</b>
						</div>
					
					</div>
					
					<div class="btns">
						<span class="cancel">取消</span>
						<input type="submit" class="sure" value="添加">
					</div>
				</div>
			</form>
				
			<!-- 修改 -->
			<% 
				if(typeof data.content_ewm_list_mod_data != 'undefined'){ 
					var content_ewm_list_mod_data = data.content_ewm_list_mod_data;
			%>
			
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="content_ewm_list">
				<input type="hidden" name="mod_id" value="<%=content_ewm_list_mod_data.id%>">
				<div class="card-wrapper clearfix template brand-mod-template">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title" value="<%=content_ewm_list_mod_data.title %>"></b>
						</div>
						<div class="line-box">
							<label>描述</label>
							<b><input type="text" name="descr"  value="<%=content_ewm_list_mod_data.descr %>"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>预览图</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic1' onchange='ewm_mod_pic1.innerHTML=this.value'>重传</a>
							<b id='ewm_mod_pic1' ><%=content_ewm_list_mod_data.pic1 %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic2' onchange='ewm_mod_pic2.innerHTML=this.value'>重传</a>
							<b id="ewm_mod_pic2"><%=content_ewm_list_mod_data.pic2 %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic3' onchange='ewm_mod_pic3.innerHTML=this.value'>重传</a>
							<b id="ewm_mod_pic3"><%=content_ewm_list_mod_data.pic3 %></b>
						</div>
					
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopai'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
				
			<% } %>
			
			
			<!-- 显示 -->
			<% 
				var content_ewm_data = data.content_ewm_data;
				if(content_ewm_data.length > 0){ 
				    for(var i = 0,len=content_ewm_data.length; i<len; i++){
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="con">
					
						<div class="line-box">
							<label class="txt">标题:</label>
							<b class="txt"><%=content_ewm_data[i].title %></b>
						</div>
						<div class="line-box">
							<label class="txt">描述:</label>
							<b class="txt"><%=content_ewm_data[i].descr %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>预览图</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>png格式，宽度180px，高度180px，RGB模式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持png格式，宽1000px，高度1000px</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>源文件</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持eps格式，RGB模式</b>
						</div>
					</div>
					<div class="preview">
						<img src="<%=content_ewm_data[i].pic1 %>" alt="">
					</div>
				
				</div>
				
				<div class="tools">
					<a class="mod" href="?page=content_ewm_list&act=mod&id=<%=content_ewm_data[i].id%>"></a>
					<a class="del" href="?page=content_ewm_list&act=del&id=<%=content_ewm_data[i].id%>"></a>
				</div>
			</div>
			<% }} %>
		</div>
		
		<div class="con-cards">
			<a href="#"></a>
			<h2>广告产品规范<span class='add-card'><img src="static/img/add-icon.png" alt=""></span></h2>
			
			<!-- 添加 -->
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="content_standard_list">
				<div class="card-wrapper clearfix template content-add-template none">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title"></b>
						</div>
						<div class="line-box">
							<label>描述</label>
							<b><input type="text" name="descr"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>PDF</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic2" onchange='standard_add_pic2.innerHTML=this.value'>上传</a>
							<b id='standard_add_pic2'>png格式，宽<300px，高<50px，RGB模式</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>附件</label>
							<a class="upload" href="javascript:;"><input type="file" name="pic3" onchange='standard_add_pic3.innerHTML=this.value'>上传</a>
							<b id="standard_add_pic3">支持文件夹上传，eps格式下CMYK模式，psd格式下RGB模式，包括常规、文字反白、整体反白、整体反黑4种样式</b>
						</div>
					
					</div>
					
					<div class="btns">
						<span class="cancel">取消</span>
						<input type="submit" class="sure" value="添加">
					</div>
				</div>
			</form>
			
			
			<!-- 修改 -->
			<% 
				if(typeof data.content_standard_list_mod_data != 'undefined'){ 
					var content_standard_list_mod_data = data.content_standard_list_mod_data;
			%>
			
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="content_standard_list">
				<input type="hidden" name="mod_id" value="<%=content_standard_list_mod_data.id%>">
				<div class="card-wrapper clearfix template brand-mod-template">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title" value="<%=content_standard_list_mod_data.title %>"></b>
						</div>
						<div class="line-box">
							<label>描述</label>
							<b><input type="text" name="descr"  value="<%=content_standard_list_mod_data.descr %>"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>PDF</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic2' onchange='standard_mod_pic1.innerHTML=this.value'>重传</a>
							<b id='standard_mod_pic1' ><%=content_standard_list_mod_data.pic2 %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>附件</label>
							<a class="reupload" href="javascript:;"><input type="file" name='pic3' onchange='standard_mod_pic3.innerHTML=this.value'>重传</a>
							<b id="standard_mod_pic3"><%=content_standard_list_mod_data.pic3 %></b>
						</div>
					
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopai'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
				
			<% } %>
			
			
			<!-- 显示 -->
			<% 
				var content_standard_data = data.content_standard_data;
				if(content_standard_data.length > 0){ 
				    for(var i = 0,len=content_standard_data.length; i<len; i++){
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="con">
					
						<div class="line-box">
							<label class="txt">标题:</label>
							<b class="txt"><%=content_standard_data[i].title %></b>
						</div>
						<div class="line-box">
							<label class="txt">描述:</label>
							<b class="txt"><%=content_standard_data[i].descr %></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>PDF</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持pdf格式，RGB模式，大小<20M。</b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>附件</label>
							<!-- <a class="upload" href="javascript:;">上传</a> -->
							<b>支持文件夹上传</b>
						</div>
					</div>
				
				</div>
				
				<div class="tools">
					<a class="mod" href="?page=content_standard_list&act=mod&id=<%=content_standard_data[i].id%>"></a>
					<a class="del" href="?page=content_standard_list&act=del&id=<%=content_standard_data[i].id%>"></a>
				</div>
			</div>
			<% }} %>	
			
		</div>
		
		
		<div class="del-dialog">
			<div class="con">
				<span class="close"><img src="static/img/close-icon.png" alt=""></span>
				<p><img src="static/img/warn-icon.png" alt=""><b>确定删除此模块？</b></p>
				<div class="d-btn">确定</div>
			</div>
		</div>
	</div>
	
		
	
	<script src="static/js/jquery-1.10.2.min.js"></script>
	<script>
	$(document).ready(function () {
		// 如果修改页面保持定位在当前位置
		window.sessionStorage.miaopai_scrollTop?document.documentElement.scrollTop = window.sessionStorage.miaopai_scrollTop : "";
		
		$(".add-card").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			
			template.show();
			
			
		});
		$(".cancel").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			
			template.hide();
			
			
		});
		
		$(document).delegate(".del","click",function(e){
			e = e || window.event; 
			e.preventDefault();
			del_link = $(this).attr('href');
			$(".del-dialog").show();
			return false
		});
		$(".del-dialog .d-btn").click(function () {
			$(".del-dialog").hide();
			window.location.href=del_link;
			del_link = '';
		});
		$(".close").click(function(){
			$(this).closest(".del-dialog").hide();
		});
		
		$(document).delegate(".mod,.cancel,.sure","click",function(e){
			var _top = document.documentElement.scrollTop || document.body.scrollTop;
			window.sessionStorage.setItem("miaopai_scrollTop", _top);
		});
		
	});
		
	</script>
</body>
</html>