<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒拍客户端管理</title>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
	<div class="wrapper">
		<h1>秒拍客户端管理</h1>
		
		<div class="con-cards clearfix">
			<h2>模块<span class='add-card'><img src="../static/img/add-icon.png" alt=""></span></h2>
			
			<!-- 添加 -->
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="miaopaiapp_list">
				<div class="card-wrapper clearfix template miaopaiapp-add-template none">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<label>图片</label>
							<a class="upload" href="javascript:;"><input type="file" name='img1' onchange='icon_mod_img.innerHTML=this.value'>上传</a>
							<b id="icon_mod_img">png格式，宽度1160px，RGB模式</b>
						</div>
					</div>
					
					<div class="btns">
						<span class="cancel">取消</span>
						<input type="submit" class="sure" value="添加">
					</div>
				</div>
			</form>
			
			<!-- 修改 -->
			<% 
				if(typeof data.module_mod_data != 'undefined'){ 
					var module_mod_data = data.module_mod_data;
			%>
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="miaopaiapp_list">
				<input type="hidden" name="mod_id" value="<%=module_mod_data.id%>">
				<div class="card-wrapper clearfix template miaopaiapp-add-template">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title" value="<%=module_mod_data.title%>"></b>
						</div>
						<div class="gap"></div>
						<div class="line-box">
							<a class="reupload" href="javascript:;"><input type="file" name='img1' onchange='module_mod_img1.innerHTML=this.value'>重传</a>
							<b id="module_mod_img1"><%=module_mod_data.img1 %></b>
						</div>
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopaiapp/module'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
			<%}%>
			
			<!-- 显示 -->
			<% 
				var module_data = data.module_data;
				if(module_data.length > 0){ 
				    for(var i = 0,len=module_data.length; i<len; i++){
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="line-box">
						<label class="txt">标题:</label>
						<b class="txt"><%=module_data[i].title %></b>
					</div>
				
					<div class="gap"></div>
					<div class="line-box">
						<!-- <a class="reupload" href="javascript:;">重传</a> -->
						<label class="txt"></label>
						<b>支持pdf格式，RGB模式，大小<20M</b>
					</div>
				</div>
				<div class="tools">
					<a class="mod" href="?page=miaopaiapp_list&act=mod&id=<%=module_data[i].id %>"></a>
					<a class="del" href="?page=miaopaiapp_list&act=del&id=<%=module_data[i].id %>"></a>
				</div>
			</div>
			<% }} %>	
		</div>
		
		
		
		<div class="del-dialog">
			<div class="con">
				<span class="close"><img src="../static/img/close-icon.png" alt=""></span>
				<p><img src="../static/img/warn-icon.png" alt=""><b>确定删除此模块？</b></p>
				<div class="d-btn">确定</div>
			</div>
		</div>
	</div>
		<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script>
	$(document).ready(function () {
		// 如果修改页面保持定位在当前位置
		window.sessionStorage.module_scrollTop?document.documentElement.scrollTop = window.sessionStorage.module_scrollTop : "";
		
		$(".add-card").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			
			template.show();
			
			
		});
		$(".cancel").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			
			template.hide();
			
			
		});
		
		$(document).delegate(".del","click",function(e){
			e = e || window.event; 
			e.preventDefault();
			del_link = $(this).attr('href');
			$(".del-dialog").show();
			return false
		});
		$(".del-dialog .d-btn").click(function () {
			$(".del-dialog").hide();
			window.location.href=del_link;
			del_link = '';
		});
		$(".close").click(function(){
			$(this).closest(".del-dialog").hide();
		});
		
		$(document).delegate(".mod,.cancel,.sure","click",function(e){
			var _top = document.documentElement.scrollTop || document.body.scrollTop;
			window.sessionStorage.setItem("miaopai_scrollTop", _top);
		});
		
	});
		
	</script>
</body>
</html>