<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒拍客户端管理</title>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
	<div class="wrapper">
		<h1>秒拍客户端管理</h1>
		
		<div class="con-cards clearfix">
			<h2>标准色<span class='add-card'><img src="../static/img/add-icon.png" alt=""></span></h2>
			
			<!-- 添加 -->
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="miaopaiapp_list">
				<div class="card-wrapper clearfix template miaopaiapp-add-template none">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title"></b>
						</div>
					</div>
					
					<div class="btns">
						<span class="cancel">取消</span>
						<input type="submit" class="sure" value="添加">
					</div>
				</div>
			</form>
			
			<!-- 修改 -->
			<% 
				if(typeof data.standard_color_mod_data != 'undefined'){ 
					var standard_color_mod_data = data.standard_color_mod_data;
			%>
			<form action="?" method='post' enctype="multipart/form-data">
				<input type="hidden" name="page_id" value="miaopaiapp_list">
				<input type="hidden" name="mod_id" value="<%=standard_color_mod_data.id%>">
				<div class="card-wrapper clearfix template miaopaiapp-add-template" style="height:150px">
					<div class="card">
						<div class="line-box">
							<label>标题</label>
							<b><input type="text" name="title" value="<%=standard_color_mod_data.title%>"></b>
						</div>
					</div>
					
					<div class="btns">
						<a class="cancel" href='/guifan/admin/miaopaiapp/standard-color'>取消</a>
						<input type="submit" class="sure" value="修改">
					</div>
				</div>
			</form>
			<%}%>
			
			
			<!-- 二级列表-添加-修改 -->
				<!-- 添加 -->
					<form action="?" method='post' enctype="multipart/form-data">
						<input type="hidden" name="page_id" value="miaopaiapp_second_list">
						<input type="hidden" name="upid" value="">
						<div class="card-wrapper2 clearfix template miaopaiapp-add-template none">
							<div class="card">
								<div class="line-box">
									<label>色值</label>
									<b><input type="text" name="content1"></b>
								</div>
								<div class="line-box">
									<label>级别</label>
									<b><input type="text" name="content2"></b>
								</div>
								<div class="line-box">
									<label>描述</label>
									<b><input type="text" name="content3"></b>
								</div>
							</div>
							
							<div class="btns">
								<span class="cancel">取消</span>
								<input type="submit" class="sure" value="添加">
							</div>
						</div>
					</form>
					
				<!-- 修改 -->
					<%	if(typeof data.standard_color_second_mod_data != 'undefined'){ 
					var standard_color_second_mod_data = data.standard_color_second_mod_data;
					%>
				
					<form action="?" method='post' enctype="multipart/form-data">
						<input type="hidden" name="page_id" value="miaopaiapp_second_list">
						<input type="hidden" name="mod_id" value="<%=standard_color_second_mod_data.id%>">
						<div class="card-wrapper clearfix template miaopaiapp-add-template" style="height:150px">
							<div class="card">
								<div class="line-box">
									<label>色值</label>
									<b><input type="text" name="content1" value="<%=standard_color_second_mod_data.content1%>"></b>
								</div>
								<div class="line-box">
									<label>级别</label>
									<b><input type="text" name="content2" value="<%=standard_color_second_mod_data.content2%>"></b>
								</div>
								<div class="line-box">
									<label>描述</label>
									<b><input type="text" name="content3" value="<%=standard_color_second_mod_data.content3%>"></b>
								</div>
							</div>
							
							<div class="btns">
								<a class="cancel" href='/guifan/admin/miaopaiapp/standard-color'>取消</a>
								<input type="submit" class="sure" value="修改">
							</div>
						</div>
					</form>
					<%}%>
			<!-- 二级列表-添加-修改end -->
			
			
			<!-- 显示 -->
			<% 
				var standard_color_data = data.standard_color_data;
				if(standard_color_data.length > 0){ 
				    for(var i = 0,len=standard_color_data.length; i<len; i++){
				    	if(standard_color_data[i].upid == 0){
				    		
				    	
			%>
			<div class="card-wrapper clearfix">
				<div class="card">
					<div class="line-box">
						<label class="txt">标题:</label>
						<b class="txt-color"><%=standard_color_data[i].title %></b>
						<span style="cursor: pointer;" class='add-card-small add-card2' data-id='<%=standard_color_data[i].id %>'><img src="../static/img/add-icon.png" alt=""></span>
						<a class='add-card-small' href="?page=miaopaiapp_list&act=mod&id=<%=standard_color_data[i].id %>"><img src="../static/img/edit2-icon.png" alt=""></a>
					</div>
					
					<div class="gap"></div>
					
					<!-- 二级列表 -->
					
					
					<!-- 显示 -->
					
					<%  for(var j=0,len_j = standard_color_data.length;j<len_j;j++ ){
						    if(standard_color_data[i].id === standard_color_data[j].upid ){
					%>	
					<div class="line-box">
						<label class="txt">色值:</label>
						<b class="txt-color"><%=standard_color_data[j].content1 %></b>
						<label class="txt">级别:</label>
						<b class="txt-color"><%=standard_color_data[j].content2 %></b>
						<label class="txt">描述:</label>
						<b class="txt"><%=standard_color_data[j].content3 %></b>
						
						<a class='add-card-small' title="修改二级列表" href="?page=miaopaiapp_second_list&act=mod&id=<%=standard_color_data[j].id %>"><img src="../static/img/edit1-icon.png" alt=""></a>
						<a class='add-card-small' title="删除二级列表" href="?page=miaopaiapp_second_list&act=del&id=<%=standard_color_data[j].id %>"><img src="../static/img/del2-icon.png" alt=""></a>
					</div>
					<%}}%>
					<!-- 二级列表end -->
					
				</div>
				<div class="tools">
					<a class="del" href="?page=miaopaiapp_list&act=del&id=<%=standard_color_data[i].id %>"></a>
				</div>
			</div>
			<% }}} %>	
		</div>
		
		
		
		<div class="del-dialog">
			<div class="con">
				<span class="close"><img src="../static/img/close-icon.png" alt=""></span>
				<p><img src="static/img/warn-icon.png" alt=""><b>确定删除此模块？</b></p>
				<div class="d-btn">确定</div>
			</div>
		</div>
	</div>
		<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script>
	$(document).ready(function () {
		// 如果修改页面保持定位在当前位置
		window.sessionStorage.standard_color_scrollTop?document.documentElement.scrollTop = window.sessionStorage.standard_color_scrollTop : "";
		
		$(".add-card").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			template.show();
		});
		
		$(".add-card2").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper2.template");
			
			var upid = $(this).attr("data-id");
			console.log($(this).closest(".con-cards").find("input[name=upid]"))
			$(this).closest(".con-cards").find("input[name=upid]").val(upid);
			
			template.show();
		});
		
		$(".cancel").click(function(){
			var template = $(this).closest(".con-cards").find(".card-wrapper.template");
			var template2 = $(this).closest(".con-cards").find(".card-wrapper2.template");
			
			template.hide();
			template2.hide();
			
			
		});
		
		$(document).delegate(".del","click",function(e){
			e = e || window.event; 
			e.preventDefault();
			del_link = $(this).attr('href');
			$(".del-dialog").show();
			return false
		});
		$(".del-dialog .d-btn").click(function () {
			$(".del-dialog").hide();
			window.location.href=del_link;
			del_link = '';
		});
		$(".close").click(function(){
			$(this).closest(".del-dialog").hide();
		});
		
		$(document).delegate(".mod,.cancel,.sure","click",function(e){
			var _top = document.documentElement.scrollTop || document.body.scrollTop;
			window.sessionStorage.setItem("miaopai_scrollTop", _top);
		});
		
	});
		
	</script>
</body>
</html>